
.awards-images {
    padding: 5rem;
}

.awards-section {
    height: 15rem;
}

.hamburger {
    margin-left:5rem;
    margin-top:50px;
    max-height: 40px;  
}

.hero {
   height: 40rem; 
}

.hero-image {
    background-image: url('img/home.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.hero-text {
    color: white;  
    font-size:2rem; 
    font-weight:bold;
    margin-left:1rem; 
    margin-top:18rem    
}

.icons-row {
    height: 15rem;
}

.icons-text {
    font-size: 2rem;
}

.icons {
    text-align: center;
}

.intro {
    height: 20rem;
}

.logo {
    height:5rem; 
    margin-left:1rem; 
    margin-top:3rem;
}

.pointer {
    margin-bottom:.5rem;
    margin-left:-9px;
    max-height: 2.6rem;  
}

.highlight-box {
    background-color: #49A166;
}

.purchase {
    background-image: url('img/purchase.jpg'); 
    background-size: cover;
}

.refinance {
    background-image: url('img/refinance.jpg'); 
    background-size: cover;
}

.why-us {
    background-image: url('img/why-us.jpg'); 
    background-size: cover; 
}

.meet-me {
    background-image: url('img/meet-me.jpg'); 
    background-size: cover; 
}

.navigation-link {
    background-color: #58bc79; 
    margin-left:25%;
    width:8px; 
}

.navigation-text {
    color:white;
    font-size:2vw; 
    margin-top: 10rem; 
    padding-left:1rem; 
    text-align: center; 
}



.refinance-text {
    color:white;
    font-size:2vw; 
    margin-top: 4.5rem; 
    padding-left:1rem; 
    text-align: center;

}